<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのNBAチームは..</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>ゴールデンステイト・ウォリアーズ</h6>
    <p>華麗なスリーポイント連発！</p>
    <p>見てて楽しい攻撃型</p>
  <% when ["1", "1", "1", "2"] %>
    <h6>ダラス・マーベリックス</h6>
    <p>新時代を切り拓く、未来志向のチーム</p>
  <% when ["1", "1", "2", "1"] %>
    <h6>オクラホマシティ・サンダー</h6>
    <p>SGA中心の若手軍団</p>
    <p>堅実な成長を見せつつ勝利を狙う、優勝候補</p>
  <% when ["1", "1", "2", "2"] %>
    <h6>メンフィス・グリズリーズ</h6>
    <p>若手育成チーム</p>
    <p>勢い重視</p>
  <% when ["1", "2", "1", "1"] %>
    <h6>ロサンゼルス・レイカーズ</h6>
    <p>スター華麗</p>
    <p>勝利至上主義</p>
  <% when ["1", "2", "1", "2"] %>
    <h6>マイアミ・ヒート</h6>
    <p>落ち着きつつ個性重視</p>
  <% when ["1", "2", "2", "1"] %>
    <h6>ミルウォーキー・バックス</h6>
    <p>守備も堅く</p>
    <p>勝利を狙うチーム</p>
  <% when ["1", "2", "2", "2"] %>
    <h6>サクラメント・キングス</h6>
    <p>ベテラン中心</p>
    <p>個性重視</p>
  <% when ["2", "1", "1", "1"] %>
    <h6>ミネソタ・ティンバーウルブズ</h6>
    <p>エドワーズ中心の若手チーム。</p>
    <p>守備と勢いで勝利を狙う新鋭。</p>
  <% when ["2", "1", "1", "2"] %>
    <h6>シャーロット・ホーネッツ</h6>
    <p>ラメロら個性派若手で派手</p>
    <p>勝利よりユニークさを重視したい人に</p>
  <% when ["2", "1", "2", "1"] %>
    <h6>クリーブランド・キャバリアーズ</h6>
    <p>ガーランド＆ミッチェル＆モーブリーで着実に成長。</p>
    <p>守備も堅実で勝利を見据える若手集団。</p>
  <% when ["2", "1", "2", "2"] %>
    <h6>デトロイト・ピストンズ</h6>
    <p>リビルド中。</p>
    <p>勝利よりも「成長を見守る」ことに面白さを感じたいファン向け。</p>
  <% when ["2", "2", "1", "1"] %>
    <h6>ボストン・セルティックス</h6>
    <p>テイタム＆ブラウンの黄金コンビ</p>
    <p>守備力＋スター性＋勝利志向の三拍子</p>
  <% when ["2", "2", "1", "2"] %>
    <h6>ニューヨーク・ニックス</h6>
    <p>勝敗よりも「物語性」が強いチーム</p>
  <% when ["2", "2", "2", "1"] %>
    <h6>デンバー・ナゲッツ</h6>
    <p>ヨキッチという堅実な大黒柱がおり</p>
    <p>派手さよりも効率性と勝利を追求</p>
  <% when ["2", "2", "2", "2"] %>
    <h6>ユタ・ジャズ</h6>
    <p>地味でも粘り強いチームバスケ</p>
    <p>派手さより「通好みの渋さ」を楽しめる</p>
  <% end %>
</div>
<%= link_to "topページに戻る", root_path %>
<%= link_to "NBAチームの詳細", explain_perfume_path, class: "link" %>
